@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@700&display=swap');

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    padding-bottom: 50px;
}

p {
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    max-width: 80ch;
}

.paragraph {
    margin-bottom: 25px;
}

.facts-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.facts-image {
    max-width: 575px;
}

.text-area {
    margin-right: 25px;
}

.about-image {
    border-radius: 299px;
    max-width: 299px;
}

.about-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.section {
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.bg-light {
    background-color: #e0ded8;
}

.bg-dark {
    background-color: #332c29;
}

.text-dark {
    color: #5d4b44;
}

.text-light {
    color: #f7f5f4; 
}